input {
   padding:0.5rem;
   border-radius: 0.8rem;
   margin-bottom: 0.8rem;
   width: 25rem;
   font-size: 1rem;
   background: #fbfafa;
   text-align: center;
  

  }
  input:focus{
    background-color: rgb(249, 224, 197);
    color:black
  }